.weather-container {
  background: #ccc;
  text-align: center;
}

.property-container {
  background:grey;
  text-align: center;
}

.weather {
  font-size: 22px;
  margin: 0;
}

.tempcelsius .tempfarenheit {
  font-size: 60px;
  margin: 0;
  font-weight: bold;
}